body {
    font-family: Arial, sans-serif;
}

.jumbotron {
    background-image: url("../images/steelvengenceNight.jpg");
    background-size: cover;
    color: white;
    text-align: center;
}

.jumbotron h1 {
    font-size: 3.5rem;
}

.jumbotron p {
    font-size: 1.5rem;
}

.navbar-brand {
    font-size: 1.8rem;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

.card {
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.text-center img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

h2 {
    margin-top: 40px;
}
